/**/

@media only screen and  (max-width: 1150px) {

  .parallax {
    background-image: url("code_div8.jpg");
    height: 5550px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1px;
  }

  .card {
    opacity: 1;
    background-color: white;
    width: 600px;
    margin: 40px auto;
  }

  .mockupDiv {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    width: 300px;
  }

  .mockupDivReverse {
    position: relative;
    bottom:850px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    width: 300px;
  }

  .textDiv {
  text-align: center;
  margin: 30px auto;
    vertical-align: middle;
    width: 500px;
  }

  .techDiv {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    width: 300px;
  }

  .techDivReverse {
    position: relative;
    top:850px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    width: 300px;
  }
}

@media only screen and (min-width: 1151px) {

  .parallax {
    background-image: url("code_div8.jpg");
    height: 2050px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1px;
  }

  .card {
    opacity: 1;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
  }

  .mockupDiv, .mockupDivReverse {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
  }

  .textDiv {
  text-align: center;
  margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
  }

  .techDiv , .techDivReverse{
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
  }
}

/*
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
*/



body, html {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  /*font-style: Semi-Bold*/
  /*font-style: Bold;*/
  margin: 0;
  text-align: center;
}

.techImage {
  margin: 30px auto;
  height: 100px;
  width: 100px;
  display: block;
}

.techImageGrey {
  background-color:#F0F0F0;
  margin: 30px auto;
  height: 100px;
  width: 100px;
  display: block;
}


.titleImage{
  height: 50px;
  width: auto;
}

.mockupImage {
  margin: 30px auto;
  height: 400px;
  width: auto;
  display: block;
}

.githubCode {
  width: 300px;
  height: auto;
  border: 1px solid black;
}

hr {
  color: black;
  border: 2px solid silver;
  border-radius: 2px;
  width: 200px
}

a {
  text-decoration: none;
}
